.App {
  /* text-align: center; */
  font-family: 'Roboto Mono',monospace;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.invisible {
  visibility: hidden;
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255, 255, 255, .4);
  margin-right: 1em;
  border-radius: .2em;
  height: 2em;
  width: 2em;
  text-align: center;
  color: aliceblue;
}

.icon * {
  width: 100%;
  height: 100%;
}

.icon img {
  width: 1.3em;
  margin: .5em;
}

a {
  color: #fff!important;
  font-size: 14px;
  text-decoration: none!important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  background-color: transparent;
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin: 10px 80px 0;
}

nav div {
  display: inline;
  position: relative;
  margin: 0 30px 0 0;
}

a.selected {
  border-bottom: 1px solid #fff;
}

nav div a, nav div a:hover {
  text-decoration: none;
  color: #fff;
}

nav div {
  /* margin-bottom: 10px; */
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 30px;
}

nav div:last-child {
  margin-right: 0;
}

nav div::after{
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav div:hover::after {
  width: 100%;
  background: #fff;
}

nav div a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

nav div a:hover::after {
  widows: 100%;
}

.profile-image {
  max-width: 20em;
  position: absolute;
  margin-top: 8em;
  border: 1em solid #02203c;
}

.main-header {
  background-color: #02203c;
  /* background-color: #6d56c1; */
  color: aliceblue;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
  padding: 3em;
  background-image: linear-gradient(122deg,rgba(245,33,33,0) 82%,hsla(0,0%,100%,.08) 0),linear-gradient(108deg,rgba(27,0,255,0) 80%,hsla(0,0%,100%,.08) 0),linear-gradient(101deg,rgba(255,33,33,0) 79%,hsla(0,0%,100%,.08) 0),radial-gradient(circle,#02203c 0,#02203c 100%);
  /* background-image: linear-gradient(-122deg,rgba(245,33,33,0) 82%,hsla(0,0%,100%,.08) 0),linear-gradient(-108deg,rgba(27,0,255,0) 80%,hsla(0,0%,100%,.08) 0),linear-gradient(-101deg,rgba(255,33,33,0) 79%,hsla(0,0%,100%,.08) 0),radial-gradient(circle,#02203c 0,#02203c 100%); */
  font-family: 'Roboto Mono',monospace;
}

p.developer-name {
  font-size: 2.5em;
  font-weight: 550;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.developer-contact-key {
  width: 100px;
  opacity: .4;
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}

.developer-contact-value {
  /* display: inline-block; */
  word-wrap: unset;
  padding-left: 60px;
  margin-bottom: 15px;
}

.education-level {
  box-shadow: 0px 0px 5px red;
  margin: 1em;
  padding: 1em;
}

.education-duration li {
  display: inline-block;
  padding: 0.25em;
}

.education-duration li:first-child {
    color: red;
}

.education-duration li:last-child {
  color: green;
}

.sub-title {
  opacity: .5;
  font-family: Roboto Mono,monospace;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  /* color: #999; */
  margin-bottom: 40px;
}

/*************************************************
 start large designed list css (schools and employment)
 **************************************************/

 .large-list-container {
  margin-top: 30px;
  margin-bottom: 30px;
 }

 .large-list-container:last-child {
   /* padding-bottom: 10px; */
   border-bottom: 2px solid #02203c;
 }

 .large-list-block {
  border-left: 2px solid #02203c;
  padding-left: 25px;
  padding-bottom: 50px;
 }

 .large-list-block::before {
  width: 12px;
  height: 12px;
  border: 2px solid #02203c;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  left: 10px;
 }

 .large-list-block-title {
  text-transform: uppercase;
  color: #02203c;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto Mono,monospace;
  font-weight: 700;
  padding-bottom: 5px;
 }

 .large-list-block-date {
  font-family: Inconsolata,monospace;
  font-size: 16px;
  line-height: 20px;
  color: #999;
  padding-bottom: 10px;
 }